.movie-card {
  margin-bottom: 30px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #ffc700;
}

.card-top-container img {
  margin-top: 26px;
  width: 100%;
  height: 158px;
}

.card-bottom-container {
  padding: 15px 20px 30px 20px;
}

.card-bottom-container h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.card-bottom-container h2 {
  font-size: 16px;
  color: #ffc700;
  margin-bottom: 5px;
}

.card-bottom-container h6 {
  display: flex;
  left: 5.19%;
  right: 6.67%;
  top: 77.64%;
  bottom: 10.56%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #ffffff;
  mix-blend-mode: normal;
}
